.about {
}
.about__body {
}
.about__header {
}
.aboute__title {
}
.title {
    
}
.about__text {
}
.about__row {
}
.about__column {
}
.item-about {
}
.item-about__icon {
}
.item-about__title {
}
.item-about__text {
}