@import "../nullstylescss/nullstyle.scss";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

body {
    font-family: Lato;
}




.about {
}
.about__body {
    max-width: 823px;
    margin: 0px auto;
}
.about__header {
    margin: 0px 0px 30px 0px;
}
.aboute__title {
    margin: 0px 0px 30px 0px;
}
.title {
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 8.95px;
    position: relative;
    text-align: center;
    padding: 0px 0px 0px -25px;
    }

.about__text {
}
.about__row {
    display: flex;
    font-size: 0;
    margin: 0px -15px;
}
.about__column {
    padding: 0px 15px;
    flex: 0 0 33.333%;
}
.item-about {
}
.item-about__icon {
    border-radius: 50%;
    width: 92px;
    height: 92px;
    border: 2px solid#f1f1f1;
    display:  flex;
    justify-content: center;
}
.item-about__title {
}
.item-about__text {
}